<html class="no-js" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Group</title>
  <!-- Material design fonts -->
  <link rel="stylesheet" href="dist/css/roboto-font.css" type="text/css">
  <link rel="stylesheet" href="dist/css/material-icons.css" type="text/css">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="dist/css/roboto.min.css" rel="stylesheet">
  <link href="dist/css/material-fullpalette.min.css" rel="stylesheet">
  <link href="dist/css/ripples.min.css" rel="stylesheet">
  <link href="dist/css/snackbar.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-controller="GroupCtrl as group">
  <div  ng-controller="ItemCtrl" ng-include="'parts/group_form.html'"></div>
  <div class="container-fluid">
    <div ng-controller="ItemCtrl" ng-init="ctrlData.currentTab='group'" ng-include="'menu.html'"></div>
    <div class="bs-docs-section clearfix" >
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Members</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="it in grpData.list" ng-init="ctrlData.mode='Edit'" ng-click="setGroup(it)">
              <td onclick="showModal()">{{ it.name }}</td>
              <td onclick="showModal()">{{ it.email }}</td>
              <td>{{ it.childrenId.length }}</td>
              <td ng-click="deleteItem(it)"><i class="material-icons btn-remove">close</i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <span class="btn btn-danger btn-fab" data-toggle="modal" data-target="#simple-dialog" ng-click="newGroup('', '')" style="position:fixed; right: 20px; bottom:32px;"><i class="material-icons" style="top:0px;">add</i></span>
    </div>
    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="dist/js/ripples.min.js"></script>
    <script src="dist/js/material.min.js"></script>
    <script src="dist/js/snackbar.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/module/app.js"></script>
    <script src="js/module/utils.js"></script>
    <script src="js/module/model/itemService.js"></script>
    <script src="js/module/controller/itemCtrl.js"></script>
    <script src="js/module/model/Item.js"></script>
    <script type="text/javascript">
      function showModal(){
          $('#simple-dialog').modal('show');
      };

      function closeModal(){
          $('#simple-dialog').modal('hide');
      }
    </script>
  </body>
